default_dark_mode 1
ui_font Fira Code
check_for_updates_on_startup 1
dark_mode_background_color #151515
custom_background_color #151515
custom_text_color #cec4ab
status_bar_color #1f1f1f
search_highligh_color #1f1f1f
status_bar_text_color #859289
status_bar_font_size 10
page_separator_width 10
page_separator_color #111111

startup_commands toggle_custom_color;toggle_synctex
