* {
    font-family: LilexNerdFont;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #161617;
    color: #bbbac1;
    transition-duration: .5s;
}

#workspaces {
    background-color: transparent;
    padding: 2px;
}

#workspaces button {
    padding: 0px 0px;
    margin: 6px 4px;
    border-radius: 50%;
    color: #767777;
    transition: all 0.3s ease-in-out;
}

#workspaces button.hover {
    color: #a69e6f;
    background-size: 100% 100%;
    border-radius: 12px;
    min-width: 25px;
}

#workspaces button.focused {
    color: #bbbac1;
    background-size: 100% 100%;
    border-radius: 12px;
    min-width: 25px;
}

#workspaces button.urgent {
    color: #9e5560;
}

#workspaces button.empty {
    color: alpha(#767777,.4);
}

#workspaces button.occupied {
    color: #748fa6;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,

#window,
#workspaces {
    margin-left: 8px;
}

#custom-time {
    color: #a8a6de;
    font-weight: bold;
    margin-right: 4px;
    margin-left: 8px;
}

#clock {
    padding-right: 16px;
}

label:focus {
    background-color: #000000;
}
