* {
  border-radius: 6px;
}

#waybar {
  background-color: transparent;
  color: @c-bright-white;
}

window#waybar.empty #window {
  opacity: 0;
}

#tray,
#power-profiles-daemon,
#window,
#mpris,
#clock,
#cpu,
#pulseaudio,
#workspaces,
#battery,
#network,
#bluetooth,
#custom-powermenu {
  background-color: @c-black;
  padding-left: 8px;
  padding-right: 8px;
}

#mpris,
#battery,
#cpu,
#network {
  border-radius: 8px 0 0 8px;
  margin-right: 0;
  padding-right: 2px;
}

#pulseaudio,
#custom-powermenu,
#power-profiles-daemon,
#bluetooth {
  border-radius: 0 8px 8px 0;
  margin-left: 0;
  padding-left: 6px;
}

#custom-powermenu:hover {
  color: @c-bright-red;
}
